<section>

  <div class="py-4">

    <table class="table table-dark text-white">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Años de experiencia</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
      {{#each skaters}}
        <tr>

          <td>{{this.id}}</td>
          <td>{{this.foto}}</td>
          <td>{{this.nombre}}</td>
          <td>{{this.anos_experiencia}}</td>
          <td>{{this.especialidad}}</td>
          <td class="text-success font-weight-bold">{{this.estado}}</td>

        </tr>
      {{/each}}
      </tbody>
    </table>
    <a href="/add">Nuevo Ingreso</a>
  </div>

</section>
